@import "./_custom";

.App {
  text-align: center;
  width: 100 vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.title {
  font-family: 'bungee', 'courier', 'sans-serif';
  font-weight: 800;
  font-size: 2.4em;
  margin-bottom: 20px;
}

.btn-outline-dark, .btn-outline-dark:active, .btn-outline-dark:focus, .btn-outline-dark:visited,
input[type=text], input[type=text]:active, input[type=text]:focus {
  box-sizing: border-box;
  margin: 10px 10px 20px 10px;
  box-shadow: makelongshadow(#000, 5) !important;
  border: 1px solid #000 !important;
  background: #fff !important;
  color: #000;
  transition: none;
}
