@import "../_custom";

.player-list {
  box-shadow: makelongshadow(#000, 7);
  border-radius: 0.25rem;
  margin-bottom: 20px;

  .player-list-item {
    border: 1px solid #000;
    &.self {
      background-color: #eee;
    }
  }
}

.role {
  margin-bottom: 20px;
}

.start-button {
  margin-bottom: 20px;
}
